MI_APPLICATION_VERSION=0.1.0
MI_SCHEMA_VERSION=0.1.0
MI_OUTPUT_DIR=output
MI_WORK_DIR=.work
MI_TRANSCRIPTION_PROVIDER=openai
MI_ANALYSIS_PROVIDER=openai
MI_TRANSCRIPTION_MODEL=
MI_ANALYSIS_MODEL=
OPENAI_API_KEY=
